#form1 {
    display: grid;
    grid-template-columns: 30% 70%;
    margin: auto auto;
    width: 50%;
}

#form1-golang{
    /* grid-column: span 2; */
}



#shaw256-calculator{
    grid-column: span 2;
    display: grid;
    grid-template-columns: 30% 20% 30% 20%;
    grid-gap: 10px;
}